body {
  background-color:black;
}

/*social media header ***********************************************/

.socialMedia {
  margin: 0 0 10px 6px;
  float: right;
}

/*nav bar shit***********************************************************/

nav {
  clear: both;
  background-color: black;
  padding: 1%;
  margin: 2% 15%;
  text-align: center;
  border: solid lightgreen 6px;
}

nav ul li a {
  color: lightgreen;
  margin: 10%;
  font-family: 'Inconsolata', sans-serif ;
  text-decoration:none;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

.selected {
  background-color: lightgreen;
  color: black;
}

/*products page*************************************************************************/
article.cards {
  border: 10px dotted lightgreen;
  float: left;
  text-align: center;
  margin: 5%;
  max-width: 35%; 
}

article.cards img {
  max-width: 200px;
  max-height: 200px;
}

p.filmName {
  color: white;
  text-align: center;
}

p.inStock {
  color: white;
  text-align: center;
}

p.description {
  color: white;
  text-align: center;
}

p.price {
  color: white;
  text-align: center;
}

/*main page *********************************************************************/

.about img {
  margin: 1% 25%;
  max-width: 50%;
}






/*about page ************************************************************************/

.about {
  display: block;
  text-align: center;
  border: solid lightgreen 6px;
  margin: 2% 15%;
  padding: 2% 10%;
  background-color: black;
  color: lightgreen;
  font-family: 'Inconsolata', sans-serif ;
  min-height: 40%;
}